@page
@model Projekt.Pages.AnulujModel
@{
    ViewData["Title"] = "Anuluj";
}

<h1>Anuluj</h1>

<h3>Czy na pewno chcesz anulowac przejazd?</h3>
<div>
    <h4>UsersTrip</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsersTrip.Starting_place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsersTrip.Starting_place)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsersTrip.Destination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsersTrip.Destination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsersTrip.Departure)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsersTrip.Departure)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsersTrip.Expected_arrival)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsersTrip.Expected_arrival)
        </dd>
    </dl>
    
    <form  method="post">
        <input type="hidden" asp-for="UsersTrip.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./TwojePrzejazdy">Back to List</a>
    </form>
</div>
